@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.btn-ppob{
    border: 2px solid #ffffff;
    line-height: 15px;
    border-radius: 30px;
}

.navbar{
    background-color: #734192;
}

.navbar-toggler {
    border: 2px solid white;
}

.navbar .container .navbar-collapse .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item a:hover{
    border-bottom: 2px solid #ffffff;
}

.banner{
    height: 850px;
    background-image: url(../images/banner-dasar.png), url(../images/ban-gal1.png), url(../images/ban-gal2.png);
    background-position: top center, top center, top right;
    background-repeat: no-repeat;
}

.banner .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 70px;
}

.banner .container .banner-caption h2{
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    line-height: 72px;
    font-family: rounded bold;
}

.banner .container .banner-caption p{
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
}

.galeri .container{
    margin-top: 60px;
}

.galeri .container h2{
    font-family: rounded bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #1C2661;
    text-align: center;
}

.galeri .container .row .col{
    padding: 10px;
}

.galeri .container .row .col .cardg img:hover{
    transform: scale(1.1);
}

footer{
    margin-top: 50px;
}

.footer1 .container{
    display: flex;
    justify-content: center;
}

.footer1 .container .row h4{
    font-family: rounded bold;
    color: #1C2661;
    font-weight: 600;
}

.footer1 .container .row .inagata img{
    margin-bottom: 10px;
}

.footer1 .container .row .informasi{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .informasi a{
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .informasi a:hover{
    color: #734192;
    letter-spacing: 1px;
}

.footer1 .container .row .tentangf a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .tentangf a:hover{
    color: #734192;
    letter-spacing: 1px;
}

.footer1 .container .row .ikuti{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .ikuti a{
    text-decoration: none;
    color: #1C2661;
    margin-bottom: 10px;
}

.footer1 .container .row .ikuti a span{
    color: #404040;
}

.footer1 .container .row .ikuti a span:hover{
    color: #734192;
    letter-spacing: 1px;
}

.footer1 .container .copy p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
}
