@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.btn-ppob{
    border: 2px solid #ffffff;
    line-height: 15px;
    border-radius: 30px;
}

.btn-ppob:hover{
    letter-spacing: 1px;
}

.bg-transparent{
    transition: all ease-in 0.3s;
}

.nav-color{
    background-color: #734192 !important;
    transition: all ease-in-out 0.5s;
}

.navbar-toggler {
    border: 2px solid white;
}

.navbar .container .navbar-collapse .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item a:hover{
    border-bottom: 2px solid #ffffff;
}

.banner{
    height: 900px;
    background-image: url(../images/banner-dasar.png), url(../images/ban-tnt1.png), url(../images/ban-tnt2.png);
    background-repeat: no-repeat;
    background-position: top center, left top, top right;
    background-size: 100%, 40%, 40%;
}

.banner .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
}

.banner .container .banner-caption h2{
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    line-height: 72px;
    font-family: rounded bold;
}

.banner .container .banner-caption p{
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
}

.banner .container .banner-caption a:hover{
    letter-spacing: 2px;
    color: #ffffff;
}

.sekolah .container{
    padding: 100px 0;
}

.sekolah .container .sekolah-caption h5{
    color: #AE39FF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.sekolah .container .sekolah-caption h2{
    font-family: rounded bold;
    color: #19245F;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
}

.sekolah .container .sekolah-caption p{
    font-weight: 400;
    font-size: 16px;
    color: #19245F;
    line-height: 30px;
}

.keunggulan{
    padding: 200px 30px 100px 30px;
}

.keunggulan .container .judul{
    text-align: center;
}

.keunggulan .container .judul h5{
    color: #AE39FF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.keunggulan .container .judul h2{
    font-family: rounded bold;
    color: #19245F;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
}

.keunggulan .container .isi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.keunggulan .container .isi .content{
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 0;
}

.keunggulan .container .isi .content img{
    width: 80px;
    margin-bottom: 20px;
}

.keunggulan .container .isi .content h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #2E334E;
    padding-right: 100px;
}

.keunggulan .container .isi .content p{
    padding-right: 10px;
    color: #A3A6A6;
}

.guru{
    margin: 100px 0;
    width: 100%;
    height: 650px;
    background: rgba(233, 239, 255, 0.8);
    background-repeat: no-repeat;
}

.guru .container{
    padding: 20px 0;
}

.guru .container .row h5{
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    color: #1C2661;
    font-family: rounded bold;
}

.guru .container .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.guru .container .card-box{
    margin: 20px 30px;
}

.guru .container h2{
    color: #AE39FF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.btn-guru{
    background-color: #F2B828;
    color: #ffffff;
}

.btn-guru:hover{
    letter-spacing: 1px;
}

.guru .container .content .card-box img{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
}

.guru .container .content .card-box img:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}

.guru .container .content .card-box .card-body{
    margin-top: 30px;
    text-align: center;
}

.guru .container .content .card-box .card-body h5{
    color: #19245F;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.guru .container .content .card-box .card-body h5:hover{
    color: #AE39FF;
    cursor: pointer;
}

.guru .container .content .card-box .card-body p{
    margin-top: 10px;
    color: #2E334E;
}

.video{
    padding: 100px 0;
}

.video .container .judul{
    text-align: center;
    margin-bottom: 30px;
}

.video .container .judul h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #1C2661;
}

.video .container .judul p{
    color: #AE39FF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}


.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.video-btn{
    border-radius: 20px;
    border: 0px;
}

.video-btn img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer{
    margin-top: 50px;
}

.footer1 .container{
    display: flex;
    justify-content: center;
}

.footer1 .container .row h4{
    font-family: rounded bold;
    color: #1C2661;
    font-weight: 600;
}

.footer1 .container .row .inagata img{
    margin-bottom: 10px;
}

.footer1 .container .row .informasi{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .informasi a{
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .informasi a:hover{
    color: #AE39FF;
    letter-spacing: 1px;
}

.footer1 .container .row .tentangf a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #404040;
    margin-bottom: 10px;
}

.footer1 .container .row .tentangf a:hover{
    color: #AE39FF;
    letter-spacing: 1px;
}

.footer1 .container .row .ikuti{
    display: flex;
    flex-direction: column;
}

.footer1 .container .row .ikuti a{
    text-decoration: none;
    color: #1C2661;
    margin-bottom: 10px;
}

.footer1 .container .row .ikuti a span{
    color: #404040;
}

.footer1 .container .row .ikuti a span:hover{
    color: #AE39FF;
    letter-spacing: 1px;
}

.footer1 .container .copy p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
}



/* media queries */
@media only screen and (max-width: 767px){
    .banner{
        background-image: url(../images/banner-dasar.png), url(../images/ban-tnt1.png), url(../images/ban-tnt2.png);
        background-repeat: no-repeat;
        background-position: top center, left top, top right;
        background-size: 300%, 40%, 40%;
    }

    .banner .container{
        flex-direction: column;
    }

    .banner .container .banner-caption h2{
        font-size: 36px;
        line-height: 36px;
    }

    .banner .container .banner-caption p{
        font-size: 16px;
        line-height: 20px;
    }

    .sekolah{
        padding: 100px 10px;
    }

    .sekolah .sekolah-caption{
        margin: 10px;
    }

    .sekolah .container .sekolah-caption h5{
        font-size: 20px;
        line-height: 20px;
    }

    .sekolah .container .sekolah-caption h2{
        font-size: 36px;
        line-height: 36px;
    }

    .sekolah .container .sekolah-caption p{
        font-size: 16px;
        line-height: 20px;
    }

    .keunggulan{
        padding: 50px 10px;
    }

    .keunggulan .container .judul h5{
        font-size: 18px;
        line-height: 20px;
    }

    .keunggulan .container .judul h2{
        font-size: 36px;
        line-height: 36px;
    }

    .keunggulan .container .isi{
        flex-direction: column;
    }

    .keunggulan .container .isi .content{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

    .keunggulan .container .isi .content h3{
        font-size: 24px;
        line-height: 20px;
        padding-right: 0;
    }

    .keunggulan .container .isi .content p{
        font-size: 16px;
        line-height: 18px;
        padding-right: 0;
    }

    .guru{
        height: 1000px;
        background: rgba(233, 239, 255, 0.8);
        background-repeat: no-repeat;
    }

    .guru .container{
        padding: 10px;
    }

    .guru .container h2{
        font-size: 18px;
        line-height: 20px;
    }

    .guru .container .content{
        flex-direction: column;
    }

    .guru .container .row h5{
        font-size: 36px;
        line-height: 36px;
    }

    .guru .container .row a{
        font-size: 14px;
        line-height: 18px;
    }

    .guru .container .content .card-box{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .guru .container .content .card-box img{
        width: 50%;
    }

    .guru .container .content .card-box .card-body{
        margin-left: 10px;
    }

    .guru .container .content .card-box .card-body h5{
        font-size: 18px;
        line-height: 20px;
    }

    .guru .container .content .card-box .card-body p{
        font-size: 14px;
        line-height: 18px;
    }

    .video{
        padding: 100px 10px;
    }

    .video .container .judul p{
        font-size: 16px;
        line-height: 20px;
    }

    .video .container .judul h2{
        font-size: 30px;
        line-height: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .banner .container img{
        width: 80%;
    }

    .sekolah .container .sekolah-caption h5{
        font-size: 20px;
        line-height: 24px;
    }

    .sekolah .container .sekolah-caption h2{
        font-size: 40px;
        line-height: 40px;
    }

    .sekolah .container .sekolah-caption p{
        font-size: 16px;
        line-height: 24px;
    }

    .keunggulan{
        padding: 50px 10px;
    }

    .keunggulan .container .judul h5{
        font-size: 18px;
        line-height: 20px;
    }

    .keunggulan .container .judul h2{
        font-size: 40px;
        line-height: 40px;
    }

    .keunggulan .container .isi .content{
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin: 20px 0;
    }

    .keunggulan .container .isi .content h3{
        font-size: 20px;
        line-height: 24px;
        padding-right: 0;
    }

    .keunggulan .container .isi .content p{
        font-size: 16px;
        line-height: 16px;
        padding-right: 10px;
    }

    .guru{
        height: 500px;
        background: rgba(233, 239, 255, 0.8);
        background-repeat: no-repeat;
    }

    .guru .container h2{
        font-size: 20px;
        line-height: 24px;
    }

    .guru .container .row h5{
        font-size: 40px;
        line-height: 40px;
    }

    .guru .container .row a{
        font-size: 16px;
        line-height: 20px;
    }

    .guru .container .content .card-box .card-body h5{
        font-size: 20px;
        line-height: 24px;
    }

    .guru .container .content .card-box .card-body p{
        font-size: 16px;
        line-height: 20px;
    }

    .video .container .judul p{
        font-size: 20px;
        line-height: 24px;
    }

    .video .container .judul h2{
        font-size: 40px;
        line-height: 40px;
    }
}




